
body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/images/pattern-curve.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

@media (min-width: 64em) {    /* 1024px */
    
   body {
        background-position: bottom -30% right 0;
   }
}